<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<%= form_tag "/books", method: "post" do %>
  <input type="text" name="title" />
  <input type="submit" value="Ajouter le livre" />
<% end %>


<% @les_livres.each do |un_livre| %>
  <p><%= un_livre.title %></p>
<% end %>
